@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fredoka:wght@300..700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #8d57c6;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fe34a0;
  border: none;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  -webkit-box-shadow: 0px 4px 0px 0px #64069d;
  box-shadow: 0px 4px 0px 0px #64069d;
}
.button:hover {
  scale: 120%;
}

.icon {
  width: 36px;
  height: 28.56px;
}

@media (min-width: 1200px) {
  .padding--responsive {
    padding: 88px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}
.header-icon-policy {
  width: 40px;
  height: 40px;
  padding: 7px 9px;
  fill: #f6e9cd;
}
.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.policy-terms-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 27px 35px 19px;
  position: relative;
}
.policy-terms-list {
  position: static;
  flex: 1;
}

.header {
  height: 100px;
  display: flex;
}

.nav-policy-terms-item {
  display: flex;
  flex-direction: row;
}
.navigation-link {
  position: relative;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: end;
  padding: 0;
  color: #f6e9cd;
  padding-top: 8px;
}
.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
  color: #ffd231;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: rgba(242, 242, 254, 1);
  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 40px;
  height: 40px;
  fill: rgba(255, 255, 255, 1);
}

.header__icon-button.is-open + .navigation__list {
  background: rgba(54, 56, 92, 1);
}

.navigation.is-open {
  background: rgba(54, 56, 92, 1);
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 27px 35px 19px;
  position: relative;
}
.navigation.is-open {
  background: #713caa;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 36px;
  padding: 48px;
  top: 130px;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 530px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  background: #713caa;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 4px 16px;

  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;

  color: #ffffff;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;

  color: #ffd231;
}

.header.is-open {
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .header {
    background: transparent;

    padding: 8px 24px 8px 24px;

    border-radius: 999px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header-policy-terms {
    background-color: transparent;
  }
  .header {
    height: 100px;
    display: flex;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-block: 20px;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    position: static;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    padding-block: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    height: 100px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  .navigation__link {
    padding: 4px 12px;

    text-align: left;

    color: #ffffff;
  }
}

.main {
  background: #8d57c6;
}
.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 375px;
  height: 1084px;
  margin: auto;

  background-image: url("/image/home/Frame\ 91\ \(2\).png");
}
.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home__container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin-top: 550px;
  margin-right: 50px;
}

.home__google-button_link {
  display: inline-block;
  max-width: 312px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 12px;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  width: 264px;
  height: 66px;
  margin-top: -100px;
}
.home-image {
  display: none;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    width: auto;
    height: 1008px;

    display: flex;

    background-image: url("/image/home/Frame\ 92\ \(2\).png");
  }

  .home__google-button_link {
    width: 300px;
    height: 86px;
    margin: auto;

    margin-left: 10px;
  }
}
.about {
  background: #713caa;
}

.about-image {
  width: 375px;
  margin: 0 auto 0;
}
.about-image-desk {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
  }

  .about-image {
    display: none;
  }
  .about-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
}

.play {
  background: #8d57c6;
}
.play-image {
  width: 323px;
  margin: 0 auto 0;
}
.play-image-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .play {
  }
  .play-image {
    display: none;
  }
  .play-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
}

.gallery {
  background: #8d57c6;
  padding-top: 56px;
}

.gallery__image {
  width: 327px;
  height: 560px;

  border-radius: 8px;
  padding: 0 10px;
}
.gallery__list {
  padding: 8px;
  gap: 0px;
  border-radius: 16px;
}
.gallery-title {
  margin: 160px auto 40px;
}
.slick-prev:before {
  display: none;
}
.slick-next:before {
  display: none;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #ffd231;
  width: 24px;
  height: 24px;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  color: #ffffff;
  content: "•";
  text-align: center;
  opacity: 0.25;

  -webkit-font-smoothing: antialiased;
}

.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 370px;
}
.gallery__list {
  max-width: 350px;
}
.gallery-image-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-image {
    display: none;
  }
  .gallery-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
}

.features {
  background: #8d57c6;
  padding: 160px 0;
}
.features-image {
  width: 327px;
  margin: auto;
}
.features__image {
  border-radius: 24px;
  padding: 0 10px;
}

.features-title {
  margin: auto;
  margin-bottom: 82px;
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 370px;
}

.features-image-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 160px 0;
  }
  .features__list {
    max-width: 1190px;
  }

  .features-image {
    display: none;
  }
  .features-image-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .features__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px;
  }
  .features__image {
    width: 293px;
    border-radius: 24px;
  }
}

.advantages {
  background: #8d57c6;
  padding: 160px 0;
}
.advantages-image {
  width: 327px;
  margin: auto;
}

.advantages-title {
  margin: auto;
  margin-bottom: 82px;
}

.advantages__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 370px;
}

.advantages-image-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 160px 0;
  }
  .advantages__list {
    max-width: 1190px;
  }
  .advantages__image {
    width: 401px;
    height: 480px;
    border-radius: 32px;

    padding: 0 10px;
  }

  .advantages-image {
    display: none;
  }
  .advantages-image-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .advantages__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px;
  }
}

.footer {
  background: #8d57c6;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 37.5px 32px;
  gap: 32px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-text {
  font-family: DynaPuff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;

  row-gap: 8px;
}
.footer-texts {
  padding: 0 8px;
  color: #ffffff;
  font-family: DynaPuff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  text-decoration: none;
  text-align: center;
}
.footer-copyright {
  font-family: DynaPuff;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  text-align: left;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 37.5px 40px;
    gap: 32px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-copyright {
    font-family: DynaPuff;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
  }
  .footer-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
  }
}
/*  */
.policy {
  background-color: #8d57c6;
}
.policy-terms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: start;
  padding: 107px 16px 76px;
  color: #ffffff;
}

.policy-terms-title {
  font-family: DynaPuff;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;

  color: #ffffff;

  padding-bottom: 40px;
}
.policy-terms-text-top-one {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
.policy-terms-text-top-two {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
.policy-terms-text {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-top: 20px;
}

.policy-terms-text-one {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.terms-list {
  list-style-type: disc;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;

  padding-left: 35px;
}
.terms-list-bold {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.email-link {
  color: inherit;
  text-decoration: none;
}
.back {
  background-color: #a8e0ff;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 182px;
    align-items: start;
  }

  .policy-terms-title {
    font-family: DynaPuff;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: left;

    color: #ffffff;

    padding-bottom: 40px;
  }
  .policy-terms-text-top-one {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }
  .policy-terms-text-top-two {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }
  .policy-terms-text {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;

    margin-top: 20px;
  }

  .policy-terms-text-one {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;

    text-align: left;
  }

  .terms-list {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;

    padding-left: 35px;
  }
  .terms-list-bold {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
  }
}
